html {
    /*background: url(../img/darts_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

body {
    background-color: #000 !important;
    font-family: 'Josefin Slab', serif !important;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: #fff !important;
}

.bold {
    font-weight: 600;
}

.start-form {
    width: 30%;
    margin: 0 auto;
}

.btn-default {
    width: 100%;        
}

.tbl {
    width: 30%;
    font-size: 2em;
    margin: 0 auto;
}

.tbl-cell {
    height: 120px;
    line-height: 120px;
    text-align: center;
    border: 1px solid #dddddd;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.tbl-cell:nth-child(odd):hover {
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;
}

.tbl-cell.score:hover {
    cursor: auto;
    background-color: transparent;
}

.tbl-head-cell:hover {
    cursor: auto !important;
    background-color: transparent !important;
}

@media (max-width: 768px) {
	.tbl {
		width: 90%;
		font-size: 1.5em;
	}

    .tbl-cell { 
        height: 80px;
        line-height: 80px;
    }

    .start-form {
        width: 90%;
    }
}